In [18]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json
from google.cloud import storage
from utils import read_sql_data

In [21]:
producer = KafkaProducer(bootstrap_servers=['34.68.207.10:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [22]:
# producer.send('demo_test', value={'abc':'xyz'})

## **Reading the Data from SQL database**

In [7]:
from dataclasses import dataclass
import os
import pandas as pd
@dataclass
class DataConfig:
    raw_data_path:str=os.path.join('Data','raw.csv')

class DataIngestion():
    def __init__(self):
        self.data_config=DataConfig()

    def initialize_data_ingestion(self):
        data=read_sql_data()
        


        return(data)

In [8]:
data_ingestion=DataIngestion()
df=data_ingestion.initialize_data_ingestion()

   gender race_ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test_preparation_course  math_score  reading_score  writing_score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

c:\Users\Hariprasad Kulkarni\Desktop\ML-Practice\Kafka_GCP_project\notebooks\utils.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("Select * From Students",mydb)

In [23]:
df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)